<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    </div>
    <table id="films" class="table table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th>ID</th>
        <th>Tytuł filmu</th>
        <th>Dane reżysera</th>
        <th>Czas trwania</th>
        <th>Rozmiar</th>
      </tr>
      </thead>
      <tbody>

      <tr class="table-active" *ngFor="let film of result">
        <td>
          {{film[0]}}
        </td>
        <td>
          {{film[1]}}
        </td>
        <td>
          {{film[4]}}
        </td>
        <td>
          {{film[2]}}
        </td>
        <td>
          {{film[3]}}
        </td>
      </tr>
      </tbody>
    </table>
    <div id="response">{{message}}</div>
    <br/><br/>
    <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
  </div>
</div>
