<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Zmień hasło
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="updatePass" (submit)="onSubmit(newpass, confirmpass, username, isSelected)">
          <div class="form-group ">
            <label class="control-label requiredField" for="username">
              Nazwa użytkownika
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="username" name="username" [(ngModel)]="username" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="userpass">
              Nowe hasło
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="userpass" name="userpass" [(ngModel)]="newpass" type="password" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="userpassconfirm">
              Powtórz nowe hasło
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="userpassconfirm" name="userpassconfirm" [(ngModel)]="confirmpass"
                   type="password" size="30"/>
          </div>
          <div class="form-group" id="div_passOK">
            <label class="control-label requiredField" for="div_passOK">
              Potwierdź zgodność haseł
              <span class="asteriskField">
        *
       </span>
            </label>
            <div class=" ">
              <label class="checkbox-inline">
                <input id="passOK" name="passOK" type="checkbox" [(ngModel)]="isSelected" value="0"/>
                Potwierdź zgodność haseł
              </label>
            </div>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-primary " name="submit" type="submit">
                Zmień hasło
              </button>
              <button class="btn btn-danger " name="submit" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
</div>
