<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>
        Welcome to my Spring World
      </h2>
      <p>
        A films database created for educational purpose. This web application uses H2 database and java 8
        language. Everything is worked with SpringBoot and Spring MVC Framework.
      </p>
      <div class="row">
        <div class="col-md-8">
          <div class="tabbable" id="tabs-439697">
            <ul>
              <li class="list-item">
                <a [routerLink]="['/addfilm']">Add film</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/allfilms']">Get all films</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/allfilmsbytitle']">Get all films by title</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/updatetitle']">Change film title</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/updatedirector']">Change film director</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/deletefilm']">Delete film</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/adduser']">Add user</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/allusers']">Get all users</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/allusersbyusername']">Get all users by username</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/updatepassword']">Change user password</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/updaterole']">Change user role</a>
              </li>
              <li class="list-item">
                <a [routerLink]="['/deleteuser']">Delete user</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
