<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br/>
      <div id="response"></div>
      <br/><br/>
      <h3 class="text-center text-primary">
        <p id="user"></p>

      </h3>
      <p class="text-center">
        This is the list of available options for you. Enjoy!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="list-item">
          <a [routerLink]="['/addfilm']">Add film</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/allfilms']">Get all films</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/allfilmsbytitle']">Get all films by title</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/updatetitle']">Change film title</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/updatedirector']">Change film director</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/deletefilm']">Delete film</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/adduser']">Add user</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/allusers']">Get all users</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/allusersbyusername']">Get all users by username</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/updatepassword']">Change user password</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/updaterole']">Change user role</a>
        </li>
        <li class="list-item">
          <a [routerLink]="['/deleteuser']">Delete user</a>
        </li>
      </ul>
      <p>
        <a class="link" href="#" (click)="logout()">Logout</a>
      </p>
    </div>
  </div>
</div>
