<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center text-danger">
        Podano błędne dane logowania.
      </p>

      <p class="text-center text-danger">
        Nieprawidłowy login i/lub hasło.
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        Spróbuj ponownie zalogować się <a class="link" [routerLink]="['/login']">tutaj.</a>
      </p>
    </div>
  </div>
</div>
