<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Podaj tytuł, który chcesz zaktualizować
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="update-title" (submit)="onSubmit(oldTitle, newTitle)">
          <div class="form-group ">
            <label class="control-label requiredField" for="oldTitle">
              Tytuł filmu
              <span class="asteriskField">
                                *
                            </span>
            </label>
            <input class="form-control" id="oldTitle" name="oldTitle" [(ngModel)]="oldTitle" type="text"
                   size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="newTitle">
              Nowy tytuł
              <span class="asteriskField">
                                *
                            </span>
            </label>
            <input class="form-control" id="newTitle" name="newTitle" [(ngModel)]="newTitle" type="text"
                   size="30"/>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-warning " name="submit" type="submit">
                Zmień
              </button>
              <button class="btn btn-danger " name="reset" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
</div>
