<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Podaj tytuł, który chcesz usunąć
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="deleteFilm" (submit)="onSubmit(tytul)">
          <div class="form-group ">
            <label class="control-label requiredField" for="filmTitle">
              Tytuł filmu
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="filmTitle" name="filmTitle" [(ngModel)]="tytul" type="text" size="30"/>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-warning " name="submit" type="submit">
                Usuń
              </button>
              <button class="btn btn-danger " name="reset" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
