<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <br/>
      <div id="response"></div>
      <br/><br/>
      <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
      <table id="users" class="table table-bordered table-sm table-hover">
        <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Nazwa użytkownika
          </th>
          <th>
            Rola
          </th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-active" *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
        </tr>
        </tbody>
      </table>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
    </div>
  </div>
</div>
