<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form novalidate id="showUsers" role="form" (submit)="onSubmit(username)">
        <div class="form-group">

          <label for="username">
            Nazwa użytkownika
          </label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" size="30"/>
        </div>
        <button type="submit" class="btn btn-primary">
          Szukaj
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
    </div>
    <div id="response">{{message}}</div>
    <br/><br/>
    <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table id="users" class="table table-bordered table-sm table-hover">
        <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Nazwa użytkownika
          </th>
          <th>
            Rola
          </th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-active" *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
