<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form novalidate id="showfilm" role="form" (submit)="onSubmit(tytul)">
        <div class="form-group">
          <label for="tytul">
            Tytuł filmu
          </label>
          <input type="text" class="form-control" name="tytul" id="tytul" [(ngModel)]="tytul" size="30"/>
        </div>
        <button type="submit" class="btn btn-primary">
          Szukaj
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
    </div>
    <div id="response">{{message}}</div>
    <br/><br/><br/><br/>
    <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
          <th>ID</th>
          <th>Tytuł filmu</th>
          <th>Dane reżysera</th>
          <th>Czas trwania</th>
          <th>Rozmiar</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-active" *ngFor="let film of result">
          <td>
            {{film.id}}
          </td>
          <td>
            {{film.tytul}}
          </td>
          <td>
            {{film.imieInazwisko}}
          </td>
          <td>
            {{film.film.czasTrwania}}
          </td>
          <td>
            {{film.film.rozmiar}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
