<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Podaj tytuł, dla którego chcesz zmienić reżysera
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="update-director" (submit)="onSubmit(tytul, rezyser)">
          <div class="form-group ">
            <label class="control-label requiredField" for="title">
              Tytuł filmu
              <span class="asteriskField">
                                *
                            </span>
            </label>
            <input class="form-control" id="title" name="title" [(ngModel)]="tytul" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="director">
              Dane reżysera
              <span class="asteriskField">
                                *
                            </span>
            </label>
            <input class="form-control" id="director" name="director" [(ngModel)]="rezyser" type="text"
                   size="30"/>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-warning " name="submit" type="submit">
                Zmień
              </button>
              <button class="btn btn-danger " name="reset" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
</div>
