<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Usuń użytkownika
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="deleteUser" (submit)="onSubmit(username)">
          <div class="form-group ">
            <label class="control-label requiredField" for="username">
              Nazwa użytkownika
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="username" name="username" [(ngModel)]="username" type="text" size="30"/>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-primary " name="submit" type="submit">
                Usuń użytkownika
              </button>
              <button class="btn btn-danger " name="submit" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
</div>
