<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Uzupełnij pola, aby dodać film
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="addFilm" class="form-container" enctype="application/x-www-form-urlencoded"
              accept-charset="UTF-8" (submit)="onSubmit(tytul, rezyser, czas, rozmiar)">
          <div class="form-group ">
            <label class="control-label requiredField" for="filmTitle">
              Tytuł filmu
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="filmTitle" name="filmTitle" [(ngModel)]="tytul" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="director">
              Dane reżysera
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="director" name="director" [(ngModel)]="rezyser" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="lenght">
              Czas trwania (w formie HH:MM:SS)
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="lenght" name="lenght" [(ngModel)]="czas" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="size">
              Rozmiar (w MB)
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="size" name="size" [(ngModel)]="rozmiar" type="text" size="30"/>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-warning " name="submit" type="submit">
                Dodaj
              </button>
              <button class="btn btn-danger " name="reset" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
    </div>
  </div>
</div>
