<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Zmień rolę użytkownika
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="roleForm" (submit)="onSubmit(newrole, user)">
          <div class="form-group ">
            <label class="control-label requiredField" for="username">
              Nazwa użytkownika
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="username" name="username" [(ngModel)]="user" type="text"/>
          </div>
          <div class="form-group ">
            <label class="control-label " for="userrole">
              Wybierz rolę
            </label>
            <select class="select form-control" id="userrole" name="userrole" [(ngModel)]="newrole">
              <option value="" selected="selected">
                Wybierz
              </option>
              <option value="admin">
                Administrator
              </option>
              <option value="user">
                Użytkownik
              </option>
            </select>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-primary " name="submit" type="submit">
                Zmień rolę
              </button>
              <button class="btn btn-danger " name="reset" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/admin']">Powrót do strony głównej panelu administracyjnego</a><br/><br/>
    </div>
  </div>
</div>
