<div class="bootstrap-iso">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="formden_header">
          <h2>
            Zarejestruj się!
          </h2>
          <p>
          </p>
        </div>
        <form novalidate id="addUser" enctype="application/x-www-form-urlencoded"
              (submit)="onSubmit(username, password, confirmpass, role)" accept-charset="UTF-8">
          <div class="form-group ">
            <label class="control-label requiredField" for="username">
              Nazwa użytkownika
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="username" name="username" [(ngModel)]="username" type="text" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="password">
              Hasło
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="password" name="password" [(ngModel)]="password" type="password" size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label requiredField" for="confirmpass">
              Powtórz hasło
              <span class="asteriskField">
        *
       </span>
            </label>
            <input class="form-control" id="confirmpass" name="confirmpass" [(ngModel)]="confirmpass" type="password"
                   size="30"/>
          </div>
          <div class="form-group ">
            <label class="control-label " for="roleForm">
              Rola w systemie
            </label>
            <select class="select form-control" id="roleForm" name="roleForm" [(ngModel)]="role">
              <option value="" selected="selected">
                Wybierz
              </option>
              <option value="admin">
                Administrator
              </option>
              <option value="user">
                Użytkownik
              </option>
            </select>
          </div>
          <div class="form-group">
            <div>
              <button class="btn btn-warning " name="submit" type="submit">
                Dodaj użytkownika
              </button>
              <button class="btn btn-danger " name="submit" type="reset">
                Wyczyść
              </button>
            </div>
          </div>
        </form>
      </div>
      <div id="response">{{message}}</div>
      <br/><br/>
      <a class="link" [routerLink]="['/user']">Powrót do strony głównej panelu użytkownika</a><br/><br/>
    </div>
  </div>
</div>
